EPRINTS_HOSTNAME=repo.example.com
EPRINTS_ADMIN_EMAIL=admin@example.com
EPRINTS_ARCHIVE_NAME=Nama Repository Anda
EPRINTS_ORG_NAME=Nama Organisasi Anda

EPRINTS_HOST_PORT=8081

DB_HOST=mysql.eksternal.local
DB_PORT=3306
DB_NAME=eprints_repo
DB_USER=eprints_user
DB_PASS=ganti_password_ini
